In [1]:
import pandas as pd

In [2]:
s = pd.Series([10,20,30,40])
s

0    10
1    20
2    30
3    40
dtype: int64

In [3]:
data = {
    "Name": ["Ahan", "Ahnaf", "Raisa"],
    "Age": [18, 15, 19]
}

df = pd.DataFrame(data)
df

    Name  Age
0   Ahan   18
1  Ahnaf   15
2  Raisa   19

In [4]:
# Ahan
data = {
    "Name": ["Ahan", "Wachiu", "Hecky"],
    "Skill": ["Duniya ka Admin", "Wanted Gambeller", "Sab Hack kar lunga"]
}

fi = pd.DataFrame(data)
fi

     Name               Skill
0    Ahan     Duniya ka Admin
1  Wachiu    Wanted Gambeller
2   Hecky  Sab Hack kar lunga

In [7]:
coin_list = [
    {"Coin": "Bitcoin", "Ticker": "BTC-USD"},
    {"Coin": "Ethereum", "Ticker": "ETH-USD"},
    {"Coin": "Binance Coin", "Ticker": "BNB-USD"},
    {"Coin": "Ripple", "Ticker": "XRP-USD"},
    {"Coin": "Cardano", "Ticker": "ADA-USD"}
]

dc = pd.DataFrame(coin_list)
dc

           Coin   Ticker
0       Bitcoin  BTC-USD
1      Ethereum  ETH-USD
2  Binance Coin  BNB-USD
3        Ripple  XRP-USD
4       Cardano  ADA-USD

In [5]:
data = {
    "name": ["Mid Bro", "Lil Bro(this dude is 10)", "Big Bro"]
}

df = pd.DataFrame(data)
print(df)
print("sir said only code and this is a cheat code")

                       name
0                   Mid Bro
1  Lil Bro(this dude is 10)
2                   Big Bro
sir said only code and this is a cheat code